.CheckoutForm {
  width: 50%;
}

.formContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.formGroupLabel {
  font-weight: bolder;
  margin: 10px 0;
  font-size: 17px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.longInput {
  padding: 6px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.halfInputSection {
  display: flex;
  justify-content: space-between;
}

.halfInput {
  width: 45%;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px;
}

.thirdInputSection {
  display: flex;
  justify-content: space-between;
}

.thirdInput {
  width: 28%;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 6px;
}

input[type="email"] {
  font-size: 13px;
}

input[type="text"] {
  font-size: 13px;
}

input::placeholder {
  font-size: 13px;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkboxInput {
  margin-right: 5px;
}

.checkboxText {
  font-size: 14px;
  color: #333;
}

.subtotalSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  margin: 20px 0;
  font-size: 17px;
}

.buttonSection {
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.completeOrder {
  width: 50%;
  padding: 10px;
  background-color: #d65900f8;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
}

.completeOrder:hover {
  background-color: #a94702f8;
}

@media (max-width: 850px) {
  .CheckoutForm {
    width: 75%;
  }
  .checkboxText {
    font-size: 10px;
  }
  input::placeholder {
    font-size: 10px;
  }
}

@media (max-width: 650px) {
  .CheckoutForm {
    width: 80%;
  }
  .formContainer {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .completeOrder {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .subtotalSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}