.EmptyCartPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 100px 0;
}

.emptyCartLogoSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 200px;
  height: 200px;
}

.emptyCartTextSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.emptyCartText {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 20px;
}


.emptyCartDescription {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 13px;
}

.returnToShopButtonSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.returnToShopButton {
  background-color: rgb(39, 99, 252);
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bolder;
  color: whitesmoke;
}

@media (max-width: 600px) {
  .emptyCartDescription {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .emptyCartDescription {
    display: none;
  }
}

@media (max-height: 680px) {
  .EmptyCartPage {
    margin: 15% 0;
  }
}

@media (max-height: 550px) {
  .EmptyCartPage {
    margin: 10% 0;
  }
}

@media (max-height: 480px) {
  .EmptyCartPage {
    margin: 5% 0;
  }

  .logo {
    width: 150px;
    height: 150px;
  }
}

@media (max-height: 350px) {
  .EmptyCartPage {
    margin: 2% 0;
  }

  .logo {
    width: 100px;
    height: 100px;
  }
}