.LoginForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  height: 30%;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.innerForm {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInput {
  width: 50%;
  padding: 6px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.formInput[type="text"] {
  font-size: 13px;
}

.formInput[type="password"] {
  font-size: 13px;
}

.rememberMeSection {
  width: 50%;
  display: flex;
}

.rememberMeCheckbox {
  margin-left: 0;
}

.formButton {
  width: 50%;
  padding: 10px 6px;
  margin-top: 10px;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 22px;
  background-color: rgb(39, 176, 255);
  cursor: pointer;
}

.switchForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.registerLink {
  color: rgb(39, 176, 255);
  text-decoration: underline;
  cursor: pointer;
}

.signupFullName {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmPassword {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  .rememberMeSection {
    font-size: 13px;
  }
  .switchForm {
    font-size: 13px;
  }
}

@media (max-width: 650px) {
  .formInput {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .rememberMeSection {
    font-size: 10px;
  }
  .switchForm {
    font-size: 10px;
  }
}