.NavBar {
  width: 100%;
  background-color: black;
  height: 75px;
  display: flex;
}

.items {
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.rightSideNav {
  display: flex;
}

.cartIcon {
  height: 50px;
  width: 50px;
  padding: 0 10px;
}

.productsIcon {
  height: 50px;
  width: 50px;
  padding: 0 10px;
}