.ProductsIcon {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  height: 65px;
  width: 65px;
  filter: invert(1);
  position: relative;
}