.ProductRow {
  height: 100%;
}

.threeProducts {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.productCard {
  height: 100%;
  width: 100%;
}

.link {
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
  display: block;
}