.SuccessfulCheckoutPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: green;
  height: 91vh;
}

.checkmark {
  padding-top: 5%;
  height: 400px;
  width: 400px;
}

.successText {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 20px;
}

.returnToShopButtonSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.returnToShopButton {
  background-color: rgb(221, 184, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bolder;
  color: black;
}

@media (max-width: 850px) {
  .checkmark {
    padding-top: 10%;
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 700px) {
  .checkmark {
    padding-top: 15%;
  }
}

@media (max-width: 550px) {
  .checkmark {
    padding-top: 20%;
  }

  .successText {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .checkmark {
    padding-top: 25%;
    height: 150px;
    width: 150px;
  }

  .successText {
    font-size: 13px;
  }
}

@media (max-width: 300px) {
  .successText {
    display: none;
  }

  .returnToShopButton {
    margin: 20px;
  }
}


@media (max-height: 850px) {
  .checkmark {
    padding-top: 10%;
    height: 200px;
    width: 200px;
  }
}

@media (max-height: 700px) {
  .checkmark {
    padding-top: 8%;
  }
}

@media (max-height: 550px) {
  .checkmark {
    padding-top: 3%;
  }

  .successText {
    font-size: 15px;
  }
}

@media (max-height: 400px) {
  .checkmark {
    height: 150px;
    width: 150px;
  }

  .successText {
    display: none;
  }

  .returnToShopButton {
    margin: 20px;
  }
}