.UserPage {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
}

.userSection {
  width: 40%;
  height: 40%;
  /* border: 1.5px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(175, 175, 175, 0.2); */
}

.loginSection {
  width: 50%;
  height: 50%;
  /* border: 1.5px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(175, 175, 175, 0.2); */
}

.signupSection {
  width: 60%;
  height: 60%;
  /* border: 1.5px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(175, 175, 175, 0.2); */
}

.userAccountContainer {
  height: 100%;
}

.loginFormContainer {
  height: 100%;
}

.signupFormContainer {
  height: 100%;
}

.top3Products {
  margin-top: 20px;
}

@media (max-width: 650px) {
  .loginSection {
    width: 75%;
  }
}

@media (max-width: 1000px) {
  .userSection {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .userSection {
    width: 75%;
  }
}

@media (max-width: 320px) {
  .userSection {
    height: 50%;
  }
}

@media (max-height: 800px) {
  .loginSection {
    height: 70%;
  }

  .signupSection {
    height: 80%;
  }

  .userSection {
    height: 60%;
  }
}

@media (max-height: 550px) {
  .userSection {
    height: 70%;
  }
}